*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Larsseit';
}
.main_block{
    width: 100%;
    background: url("./image/Group8-min.jpg") no-repeat center/cover;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 0 179px;
}
.main_block__header{
    padding-top: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_block__nav ul{
    display: flex;
    list-style: none;
}
.main_block__nav ul li{
    margin-right: 25px;
}
.main_block__nav ul a{
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: #22356F
}
.main_block__nav ul a:after {
	display: block;
	position: relative;
	margin-top: 5px;
    left: 0; 
	width: 0;
	height: 2px; 
	background-color: #22356F; 
	content: "";
	transition: width 0.3s ease-out; 
}
.main_block__nav ul a:hover:after,
.main_block__nav ul a:focus:after {
	width: 40px; 
}
.main_block__button{ 
    width: 150px;
    height: 50px;   
    cursor: pointer;
    background-color: #62D0DF;
    border: none;
    border-radius: 50px;  
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}  
.main_block__text{
    margin-top: 164px;
}
.main_block__title{
    margin-top: 55px;
    width: 490px;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.020em;
    color: #22356F;
}
.main_block__subtitle{
    margin-top: 85px;
    width: 469px;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: -0.020em;
    color: #22356F;
}
.main_block__who{
    margin: 63px 0 73px;
    width: 150px;
    height: 50px;
    border: 0;
    cursor: pointer;
    background: #F9B640;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FFFFFF;
}

/* why_thrive section */

.why_thrive{
    width: 100%;  
    background: #62D0DF; 
    padding-top: 160px;
    padding-bottom: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.why_thrive__content{
    width: 555px;
    height: 100%;
    color: #FFFFFF;
}
.why_thrive__ask{
    height: 51px;
    width: 223px;
    font-size: 36px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: -0.006em;
}
.why_thrive__therapy{
    margin-top: 85px;
    height: 235px;
    width: 555px;
    font-size: 20px;
    line-height: 30px;
}
.why_thrive__span{
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
}
.why_thrive__image{
    background: url(./image/why_picture-min.png) no-repeat center top/contain;
    width: 525px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

/* about_us section */

.about_us{
    width: 100%;
    padding: 150px 105px 25px 105px;
    display: flex;
    flex-direction: column;
}
.about_us__content{
    width: 910px;
    display: flex;
    justify-content: space-between;
}
.about_us__title{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #22356F;
    opacity: 0,1;
}
.about_us__text{    
    width: 592px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F
}
.about_us__subtitle{ 
    margin-top: 70px;
    width: 100%;
    text-align: center;
    height: 21px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

/* help_with section */

.help_{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.help__mini-block{
    width: 25%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px 0 50px;
}
.help__mini-block hr{
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    border: 0;
}
.help__text{
    position: relative;
    margin-top: 23px;
    padding-left: 25px;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
.help__text:before{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #E98738;
}
.help__mini-block.pink{
    background: #FFE2DE;
}
.help__mini-block.green{
    background: #C4E769;
}
.help__mini-block.aqua{
    background: #62D0DF;
}
.help__mini-block.blue{
    background: #0052C1;
} 

/* direction section */

.direction{
    width: 100%;
}
.direction_one,
.direction_two{
    display: flex;
    justify-content: space-between;
}
.direction_one__mini-block,
.direction_two__mini-block{
    width: 35%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95px 70px 0 70px;
}
.direction_one__mini-block hr,
.direction_two__mini-block hr{
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    border: 0;
}
.direction__text{
    position: relative;
    margin-top: 35px;
    padding: 0 130px 0 25px;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}
.direction__text:before{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #E98738;
}
.direction_one__mini-block.fist{
    background: #22356F;
}
.direction_one__mini-block.second{
    background: #0052C1;
}
.direction_one__mini-block.third{
    background: url(./image/joanna-kosinska-340748-min.png) no-repeat center/cover;
}
.direction_two__mini-block.fourth{
    background: #62D0DF;
}
.direction_two__mini-block.fifth{
    background: #DEE1FF;
}
.direction_two__mini-block.sixth{
    background: #8F00FF;
}

/* attendence section */

.attendence{
    width: 100%;
    height: 100%
}
.attendence__content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    margin: 22px 0 40px 0;
}
.attendence__content p{
    width: 480px;
    height: 240px;
    padding: 65px 99px 0 105px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
} 
.attendence__content p span{
    display: block;
    padding-bottom: 45px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
}

/* also_know section */

.also_know{
    width: 100%;  
    height: 100%;
    background: #FFFFFF; 
    position: relative;
    display: flex;
}
.also_know__content{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 55px 0 58px 586px;
    color: #22356F;
}
.also_know__title{
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
}
.also_know__text{
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
}
.also_know__text b{
    color: #6CD3E1;
}
.also_know__subtitle{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FAB63E;
}
.also_know__image{
    background: url(./image/linkedin-sales-navigator-402831-min.png) no-repeat center top/contain;
    position: absolute;
    width: 480px;
    height: 800px;
    left: 0;
    top: 0;
}

/* contact_us section */

.contact_us{
    width: 100%;  
    height: 100%;
    background: #22356F; 
    position: relative;
    display: flex;
}
.contact_us__content{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding-top: 105px;
    padding-bottom: 58px;
    color: #FFFFFF;
}
.contact_us__title{
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
}
.contact_us__headline{
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
}
.contact_us__text{
    width:580px;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
}
.contact_us__subtitle{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #62D0DF;
}   
.contact_us__image{
    background: url(./image/charles-etoroma-390119-min.png) no-repeat center top/contain;
    position: absolute;
    width: 480px;
    height: 800px;
    right: 0;
    top: 0;
}

/* some_info section */

.some_info{
    width: 100%;  
    background: #FFFFFF; 
    position: relative;
    display: flex;
}
.some_info__image{
    background: url(./image/autumn-goodman-242825-min.png) no-repeat center top/contain;
    position: absolute;
    width: 570px;
    height: 380px;
    left: 0;
    top: 0;
}
.some_info__contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 98px 0 0 635px;
}
.some_info__box{
    width:35%;
    height: 280px;
    margin: 0 55px 0 40px;
    flex-direction: column;
    align-items: center;
}
.some_info__line{
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
}
.some_info__text{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}
footer{
    background: #62D0DF;
    position: absolute;
    width: 100%;
    height: 80px;
}
footer p{
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    padding: 40px 0 0 180px;
}
